{% extends "items/base.html" %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-6">My Cart</h1>
        </div>
    </div>
</header>
<div class="container my-5">
    {% for item in cart_items %}
    <div class="card border-light my-3">
        <div class="row no-gutters">
        <div class="col-md-8">
            <h3 class="card-header">
                {{ item.item.title }}
            </h3>
            <div class="card-body">
                <p class="card-text">Talla: <strong>{{ item.size }}</strong></p>
                <p class="card-text">Price:
                {% if item.item.is_on_sale %}
                    <span class="text-muted text-decoration-line-through">${{ item.item.price }}</span>
                    ${{ item.item.discounted_price }}
                {% else %}
                    ${{ item.item.price }}
                {% endif %}
                </p>
                <a href="{% url 'cart:remove_from_cart' item.item.id item.size %}" class="btn btn-outline-danger fs-5">Remove</a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    {% if cart_items %}
    <div class="card border-light my-3 text-center">
        <p class="fs-5"><strong>Total: ${{ sum }}</strong></p>
        <a href="{% url 'cart:purchase' %}" class="btn btn-outline-dark fs-5 card-body">Buy</a>
    </div>
    {% endif %}
</div>
{% endblock content %}