services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    expose:
      - "8000"   # Solo visible dentro de la red Docker
    volumes:
      - .:/app
    env_file:
      - .env
    
  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

volumes:
  sqlite_data:

