{% extends 'base.html' %}

{% load static %}

{% block content%}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Procesando Tu Orden...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Por favor, espera mientras procesamos tu pago.</p>
        </div>
    </div>
</header>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="card-header">
                    Informacion de Facturación
                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'process_order' %}">
                        {% csrf_token %}
                        {{ billing_form.as_p }}
                    
                </div>       
            </div>
            
        </div>
    </div>
</div>
<br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="submit" form="billing-form" class="btn btn-success">Pagar Ahora</button></form>
                    <a href="{% url 'cart_summary' %}" class="btn btn-danger">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>      
<br/>
{% endblock%}